<div class="container">
  <div class="row">
    <div class="col-sm" *ngFor="let item of items">
      <a [routerLink]="[item.id]">
        <div class="card">
          <img
            src="{{ item.coverImg }}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h3 class="card-title">
              {{ item.name }}
            </h3>
            <p class="card-text">{{ item.description }}</p>

          </div>
        </div>
      </a>
    </div>
  </div>
</div>